.map-slick-wrap {
  width: 380px;
  height: 240px;
}
.map-slick-slider {
  width: 360px;
  height: 240px;
  margin: 0 0 0 20px;
  display: none;
}
.map-slick-slider.slick-initialized {
  display: block;
}
.map-slick-slider .item {
  display: block;
  text-align: center;
  width: 360px;
  height: 240px;
  line-height: 240px;
}
.map-slick-slider .item img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}
.map-slick-slider .slick-arrow {
  width: 30px;
  height: 45px;
  opacity: 0.8;
  z-index: 1;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
.map-slick-slider .slick-arrow.slick-next,
.map-slick-slider .slick-arrow.slick-next:hover {
  right: 15px;
  background: url(../img/lightbox/next.png) no-repeat top left;
}
.map-slick-slider .slick-arrow.slick-prev,
.map-slick-slider .slick-arrow.slick-prev:hover {
  left: 15px;
  background: url(../img/lightbox/prev.png) no-repeat top right;
}
.map-slick-slider .slick-arrow:hover {
  opacity: 1;
}
.map-slick-slider .slick-arrow:before {
  content: none;
  display: none;
}
.map-slick-slider > * {
  outline: 0;
}
@media (max-width: 640px) {
  .map-slick-wrap {
    width: 340px;
    height: 200px;
  }
  .map-slick-slider {
    width: 320px;
    height: 200px;
    margin: 0 0 0 20px;
    display: none;
  }
  .map-slick-slider.slick-initialized {
    display: block;
  }
  .map-slick-slider .item {
    display: block;
    text-align: center;
    width: 320px;
    height: 200px;
    line-height: 200px;
  }
}
@media (max-width: 480px) {
  .map-slick-wrap {
    width: 180px;
    height: 120px;
  }
  .map-slick-slider {
    width: 160px;
    height: 120px;
    margin: 0 0 0 20px;
    display: none;
  }
  .map-slick-slider.slick-initialized {
    display: block;
  }
  .map-slick-slider .item {
    display: block;
    text-align: center;
    width: 160px;
    height: 120px;
    line-height: 120px;
  }
}
