@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?31754581');
  src: url('../fonts/fontello.eot?31754581#iefix') format('embedded-opentype'), url('../fonts/fontello.woff2?31754581') format('woff2'), url('../fonts/fontello.woff?31754581') format('woff'), url('../fonts/fontello.ttf?31754581') format('truetype'), url('../fonts/fontello.svg?31754581#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?31754581#fontello') format('svg');
  }
}
*/
.icon:before,
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  /*width: 1em;*/
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-map:before {
  content: '\e802';
}
/* '' */
.icon-photo:before {
  content: '\e803';
}
/* '' */
.icon-next:before {
  content: '\e804';
}
/* '' */
.icon-prev:before {
  content: '\e805';
}
/* '' */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.placebox {
  min-height: 770px;
  margin-top: 60px;
  background-color: rgba(27, 47, 62, 0.6);
  color: #fff;
}
.placebox-header {
  height: 90px;
  font-size: 36px;
  line-height: 90px;
  font-weight: 500;
  text-align: center;
  position: relative;
  letter-spacing: .02em;
}
.placebox-header > span {
  display: block;
  margin: 0 170px;
}
@media (max-width: 321px) {
  .placebox-header > span {
    float: left;
    margin: 0 20px;
  }
}
.placebox-header:after,
.placebox-header:before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 300px;
  -moz-perspective: 300px;
  -ms-perspective: 300px;
  perspective: 300px;
  width: 990px;
  height: 7px;
  pointer-events: none;
}
.placebox-header:after {
  top: 0;
  background: url('../img/g-t.png') no-repeat 50% 0;
}
.placebox-header:before {
  bottom: 0;
  background: url('../img/g-b.png') no-repeat 50% 0;
}
.placebox-footer {
  *zoom: 1;
  min-height: 120px;
  padding-bottom: 20px;
}
.placebox-footer:before,
.placebox-footer:after {
  content: " ";
  display: table;
}
.placebox-footer:after {
  clear: both;
}
.placebox-footer:after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 300px;
  -moz-perspective: 300px;
  -ms-perspective: 300px;
  perspective: 300px;
  width: 990px;
  height: 7px;
  pointer-events: none;
  bottom: 0;
  background: url('../img/g-b2.png') no-repeat 50% 0;
}
.nav-tabs.placebox-tabs {
  display: inline-block;
  float: right;
  border-bottom: 0;
  vertical-align: bottom;
}
.nav-tabs.placebox-tabs > li {
  text-align: center;
  padding-top: 15px;
  margin-bottom: 5px;
}
.nav-tabs.placebox-tabs > li > a {
  margin-right: 30px;
  border: 0;
  padding: 0;
  color: #b5cc88;
  font-size: 16px;
  line-height: 1.4em;
}
.nav-tabs.placebox-tabs > li > a > i {
  font-size: 36px;
}
.nav-tabs.placebox-tabs > li > a:hover {
  border: 0;
  padding: 0;
  background-color: transparent;
  color: rgba(181, 204, 136, 0.6);
}
@media (max-width: 321px) {
  .nav-tabs.placebox-tabs > li > a {
    margin-right: 10px;
  }
}
.nav-tabs.placebox-tabs > li.active > a,
.nav-tabs.placebox-tabs > li.active > a:hover,
.nav-tabs.placebox-tabs > li.active > a:focus {
  color: #fff;
  background-color: transparent;
  border: 0;
}
.placebox-slider {
  height: 565px;
  display: none;
}
@media (max-width: 321px) {
  .placebox-slider {
    min-height: 425px;
    height: auto;
  }
}
.placebox-slider.slick-initialized {
  display: block;
  margin: 0;
}
.placebox-slider .item {
  display: block;
  text-align: center;
  width: 360px;
  height: 565px;
}
@media (max-width: 321px) {
  .placebox-slider .item {
    min-height: 425px;
    height: auto;
    width: 100%;
  }
}
.placebox-slider .item img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}
.placebox-slider .slick-arrow {
  width: 55px;
  height: 70px;
}
.placebox-slider .slick-arrow:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  /*width: 1em;*/
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
@media (max-width: 321px) {
  .placebox-slider .slick-arrow {
    width: 35px;
    height: 45px;
    top: auto;
    bottom: 120px;
  }
}
.placebox-slider .slick-arrow:before {
  color: #b5cc88;
  font-size: 40px;
  line-height: 70px;
}
@media (max-width: 321px) {
  .placebox-slider .slick-arrow:before {
    font-size: 28px;
    line-height: 45px;
  }
}
.placebox-slider .slick-arrow.slick-next:before,
.placebox-slider .slick-arrow.slick-prev:before {
  top: 0;
  margin: 0;
  border: 0;
  width: 55px;
  height: 70px;
  transform: none;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  filter: alpha(opacity=80);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
}
@media (max-width: 321px) {
  .placebox-slider .slick-arrow.slick-next:before,
  .placebox-slider .slick-arrow.slick-prev:before {
    width: 35px;
    height: 45px;
  }
}
.placebox-slider .slick-arrow.slick-next:hover:before,
.placebox-slider .slick-arrow.slick-prev:hover:before {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
.placebox-slider .slick-arrow.slick-next,
.placebox-slider .slick-arrow.slick-next:hover {
  background-color: #000;
  right: 0;
}
.placebox-slider .slick-arrow.slick-next:before,
.placebox-slider .slick-arrow.slick-next:hover:before {
  content: '\e804';
}
.placebox-slider .slick-arrow.slick-prev,
.placebox-slider .slick-arrow.slick-prev:hover {
  background-color: #000;
  left: 0;
}
.placebox-slider .slick-arrow.slick-prev:before,
.placebox-slider .slick-arrow.slick-prev:hover:before {
  content: '\e805';
}
.placebox-slider > * {
  outline: 0;
}
